<div class="discover-book">
    <img src="assets/video/video_fix.png" alt="" class="header-video--media" data-video-src="video/intro" data-teaser-source="video/intro" data-provider="" data-video-width="1920" data-video-height="960">
    
    <div class="discover-book__video">
        <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="assets/video/intro.mp4" type="video/mp4">
            <source src="assets/video/intro.ogv" type="video/ogg">
        </video>
    </div>

    <div class="discover-book__layer"></div>

    <div class="discover-book__content">
        <h1>Discover & Book</h1>
        <h3>The best restaurants at the best price</h3>
        <div class="discover-book__form">
            <app-search-restaurant></app-search-restaurant>
        </div>
    </div>
</div>