<div [swiper]="reviewConfig" class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide review-slide">
            <p>"Quaerendum liberavisse no cum, at copiosae pericula maluisset per. Eos eros etiam ei, nibh elit mel ad. Quo mnesarchum disputando ne, id per delectus disputationi".</p>
            
            <div>
                <img src="assets/images/review-section-images/avatar_1.svg" alt="">
                <b>James Powell</b>
                <span>3 October 2019</span>
            </div>
        </div>

        <div class="swiper-slide review-slide">
            <p>"Quaerendum liberavisse no cum, at copiosae pericula maluisset per. Eos eros etiam ei, nibh elit mel ad. Quo mnesarchum disputando ne, id per delectus disputationi".</p>
            
            <div>
                <img src="assets/images/review-section-images/avatar_2.svg" alt="">
                <b>Frederick Smith</b>
                <span>25 November 2019</span>
            </div>
        </div>

        <div class="swiper-slide review-slide">
            <p>"Quaerendum liberavisse no cum, at copiosae pericula maluisset per. Eos eros etiam ei, nibh elit mel ad. Quo mnesarchum disputando ne, id per delectus disputationi".</p>
            
            <div>
                <img src="assets/images/review-section-images/avatar_3.svg" alt="">
                <b>Jhon Rabbit</b>
                <span>31 November 2019</span>
            </div>
        </div>
    </div>

    <div class="swiper-pagination"></div>
</div>
