<div class="popular-category popular-category--restaurant">
    <div class="container">
        <div class="popular-category__line popular-category--restaurant__line">
            <strong></strong>
        </div>
        <h3>Popular Restaurants</h3>
        
        <div class="row">
            <div class="col-md-8 PL-0">
                <h4>Cum doctus civibus efficiantur in imperdiet deterruisset.</h4>
            </div>
            <div class="col-md-4 PR-0 text-right">
                <a class="view-all-lnk">View All</a>
            </div>
        </div>

        <app-popular-restaurant-item></app-popular-restaurant-item>
    </div>
</div>